aiofiles==25.1.0
aiohttp==3.13.2
beautifulsoup4==4.15.0
defusedxml==0.7.1
fastapi==0.141.1
feedparser==6.0.12
fuzzywuzzy==0.18.0
ImageHash==4.3.2
numpy==2.5.1
opencv_python==5.0.0.93
Pillow==12.3.0
playwright==1.57.0
pydantic==2.13.4
pyside6==6.10.0
pyside6_addons==6.10.0
pyside6_essentials==6.10.0
python_Levenshtein==0.27.3
qasync==0.28.0
rapidfuzz==3.14.5
Requests==2.34.2
sqlmodel==0.0.39
uvicorn==0.52.1
word2number==1.1
